<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CalendarScheduler</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://unpkg.com/@@fullcalendar/core@@4.3.1/main.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@@fullcalendar/daygrid@@4.3.0/main.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@@fullcalendar/daygrid@@4.3.0/main.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@@fullcalendar/timegrid@@4.3.0/main.min.css" />
</head>
<body>
    <header>
    </header>
    <div class="container-fluid">
            @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
