@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calendar</h1>
</div>

<div id="calendar"></div>

@section Scripts {
	<script src="~/js/callendar.js" asp-append-version="true"></script>
}